*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #292995;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 110px ;
    font-size: 24px;
}

.aquário-imagem{
    width: 25%;
}

.aquário{
    background-image: linear-gradient(#292995,#296895);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.aquario-div-conteudo{
    width: 35%;
}
.aquário-titulo{
    padding: 24px 0;
}